{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-4">
                <p class="text-muted"> &copy; 2025 IFMT </p>
            </div>
            <div class="col-md-4 text-md-center">
                <span class="px-2">Desenvolvido por Rafuel05</span>
            </div>
            <div class="col-md-4 text-md-right">
                <a href="https://github.com/Rafuel05" class="text-muted" style="text-decoration: none;">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
        </section>
    </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

</body>
</html>